<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>\\16.1.1.14\wwwroot\Recetas\WebDeploy</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>LocalHost\GenerarReceta\Default.aspx</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=LocalHost;Initial Catalog=recetas;User ID=segui;Password=segui" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LocalHost;Initial Catalog=recetas;User ID=segui;Password=segui" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LocalHost;Password=segui;User ID=segui;Initial Catalog=recetas" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="cxLocalString" Order="2" Enabled="False">
          <Destination Path="Data Source=LocalHost;Password=segui;User ID=segui;Initial Catalog=recetas; Provider=SQLOLEDB" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LocalHost;Password=segui;User ID=segui;Initial Catalog=recetas;Provider=SQLOLEDB" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cxLocalString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LocalHost;Password=segui;User ID=segui;Initial Catalog=recetas;Provider=SQLOLEDB" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cxLocalString-Web.config Connection String">
      <ParameterValue>Data Source=LocalHost;Password=segui;User ID=segui;Initial Catalog=recetas; Provider=SQLOLEDB</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=LocalHost;Initial Catalog=recetas;User ID=segui;Password=segui</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>